@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
   // RedirectToPage("indexs.html");
}

<!doctype html>
<html lang="en" data-critters-container="">
<head>
  
</head>
<body class="mat-typography mat-app-background">
    <app-root></app-root>
    

    <script src="runtime.js" type="module"></script>
    <script src="polyfills.js" type="module"></script>
    <script src="main.js" type="module"></script>
    <script src="runtime.js" type="module"></script>
</body>
</html>
