
<!--
<nav>
  <ul>
    <li><a routerLink="/bytype" routerLinkActive="active" ariaCurrentWhenActive="page">By Crime Type</a></li>
    <li><a routerLink="/mapView" routerLinkActive="active" ariaCurrentWhenActive="page">See The map</a></li>
    <li><a routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a></li>
    <li><a routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a></li>

  </ul>
</nav> -->


<app-nav-menu></app-nav-menu>
<!-- <a routerLink="/bytype" routerLinkActive="active" ariaCurrentWhenActive="page">By type</a> -->
<router-outlet></router-outlet>
